<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166090980420-g2ios4853i5nu5qjsvbo0tem88qd9ecb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166090980420-g2ios4853i5nu5qjsvbo0tem88qd9ecb</string>
	<key>API_KEY</key>
	<string>AIzaSyBVNGCmvItTuASo8EeM-r-eRi2kYJeshSk</string>
	<key>GCM_SENDER_ID</key>
	<string>166090980420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Marasco.Eagle-Allowance</string>
	<key>PROJECT_ID</key>
	<string>eagle-allowance</string>
	<key>STORAGE_BUCKET</key>
	<string>eagle-allowance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:166090980420:ios:5b7541bb7e141751531011</string>
	<key>DATABASE_URL</key>
	<string>https://eagle-allowance.firebaseio.com</string>
</dict>
</plist>
